.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guessRow {
  display: flex;
}

.guessLetter {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  margin: 0.25rem;
  border: 1px solid #444;
  justify-content: center;
}

.correct {
  background-color: green;
}

.almost {
  background-color: goldenrod;
}


.button {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #008CBA
}

.nextGameButton {
  background-color: green;
}

.gameBoard {
  padding-top: 2rem;
}

.winsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 10rem;
}

.win {
  padding: 0.5rem;
  font-weight: 700;
  margin: 0.25rem;
  border: 2px solid #777;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}